# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Deployment

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

concurrency:
  group: cloudflare-pages-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          directory: web       # <--- Change to your actual output folder
          cache-dependency-path: web/package-lock.json
          

      - name: Install dependencies
        run: npm ci
        working-directory: web

      - name: Build project
        run: npm run build
        working-directory: web

      - name: Deploy to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        id: deploy
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: ${{ secrets.CLOUDFLARE_PROJECT_NAME }}
          directory: web       # <--- Change to your actual output folder
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}

      - name: Post Deployment URL on PR
        if: github.event_name == 'pull_request'
        run: |
          echo "Preview URL: ${{ steps.deploy.outputs.url }}"
